.beer-properties-container {
    background-color: #e2e2e2;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px; 
    margin-left: 3em;
    height: 100%;
    margin-bottom: 3em;
}

.beer-properties-content {
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.first-brewed {
    text-align: center;
}

.beer-ingredients {
    font-size: 16px;
}

.beer-properties {
    display: flex;
    flex-direction: column;
}

.beer-properties h2, .beer-properties h3 {
    margin-top: 0.5em;
    margin-bottom: 2px;
    align-self: center;
}

.hops{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.malts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hops-malt {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.beer-ingredients h2{
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 10px;
}

.beer-properties p {
    margin-bottom: 2px;
}

@media (min-width: 768px) {
    .beer-properties-container {
        padding: 30px;
    }
}

@media (min-width: 1024px) {
    .beer-properties-container {
        padding: 40px;
    }
}