.beer-details-main-container {
    display: flex;
    margin-top: 4em;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-bottom: 6em;
}

.navigation-buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 40px;
}

.back-button {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.favorite-button {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 3em;
}

.beer-details-container {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    align-items: center;
    justify-content: center;
    margin-left: -5em;
}

.beer-header {
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 400px;
    margin-right: 5em;
    margin-bottom: 2em;
}

.name-tagline {
    margin-top: 2px;
}

.beer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 2em;
}

.main-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    justify-items: center;
}

img {
    justify-self: center;
    width: 150px;
    height: 590.46px;
}

.description-container {
    margin-top: 2em;
    width: 100%;
    max-width: 500px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background-color: #e2e2e2;
    margin-bottom: 1em;
    text-align: justify;
}

.description-container h2 {
    color: rgb(51, 51, 51);
    margin-bottom: 10px;
}

.description {
    margin-right: 1em;
    text-align: justify;
}

.description-content {
    overflow-y: auto;
    height: 200px;
    text-align: justify;
}

.description-content::-webkit-scrollbar {
    width: 10px;
}

.description-content::-webkit-scrollbar-thumb {
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
}

.description-content::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}

.description-content p {
    color: rgb(54, 54, 54);
    margin-right: 1em;
}

@media screen and (max-width: 600px) {
    .navigation-buttons {
        margin-top: 2em;
    }

    .favorite-button {
        margin-top: 0.1em;
        margin-left: 4em;
        padding: 2px;
    }

    .beer-header {
        margin-left: 5em;
        margin-bottom: 0em;
    }

    .beer-details-container {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-items: center;
        margin-right: -3.5em;
    }

    .beer-header img {
        width: 70px;
        height: 250.46px;
    }

    .beer-image {
        justify-content: center;
        align-items: center;
    }

    .beer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description-container {
        max-height: 190px;
        width: 300px;
        margin-left: 42px;
    }

    .description-content {
        max-height: 140px;
        margin-right: 6px;
    }

    .food-pairing {
        text-align: justify;
        margin-bottom: 1em;
        max-width: 300px;
        align-self: center;
    }

    .food-pairing h2 {
        text-align: center;
    }

    .brewers-tips {
        text-align: justify;
        margin-bottom: 1em;
        max-width: 300px;
        align-self: center;
    }

    .brewers-tips h2 {
        text-align: center;
    }
}
